/* Project 3a: Introduction to Layouts using Positioning
(Emphasis on relative and absolute Positioning)*/

/* Happy Coding and Remember, Jesus Loves You */


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200&family=Dancing+Script&family=Karma:wght@300&family=News+Cycle&display=swap');

body {
    margin: 0;
    padding: 0;
    /* background: black; */
}

.nav {
    font-family: 'Karma', serif;
}

.logo {
    position: absolute;
    display: flex;
    align-items: center;
    top: 3%;
    left: 5%;
    color: gainsboro;
    display: flex;
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
}

.logo .material-icons {
    color: #00B4DB;
}

.side-nav {
    position: absolute;
    display: flex;
    align-items: center;
    column-gap: 3rem;
    right: 5%;
    top: 3%;
    font-weight: bold;
}

.stream {
    padding: .5rem 1rem;
    background: black;
    color: white;
    border-radius: 2rem;
    font-weight: normal;
}

.hero {
    display: flex;
    justify-content: space-between;
}

.hero-info-container {
    background-color: black;

    width: 50vw;
}

.hero-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;
    width: 80%;
    height: 100vh;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.date {
    font-family: 'Karma', serif;
    font-size: 1.5vw;
}

.hero-header {
    font-size: 5vw;
    color: gainsboro;
    font-family: 'Dancing Script', cursive;
}

.hero-txt {
    font-family: 'Karma', serif;
    line-height: 1.5rem;
}

.hero-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
    position: relative;
    background-color: ghostwhite;
    z-index: -1;
}

.hero-img {
    width: 80%;
    height: 80vh;
    box-shadow: 10px 10px 25px 1px grey;
}

.verified {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    position: absolute;
    bottom: 15%;
    right: 15%;
    background: lightgray;
    padding: 1rem;
    font-family: 'Dancing Script', cursive;
    font-size: 3vw;
    font-weight: 700;
    border-radius: 3rem;
}

.verified .material-icons-outlined {
    color: green;
    font-size: 2rem;
}

.button {
    width: 30%;
    min-width: 6rem;;
    height: max-content;
    padding: .5rem 0;
    background: #00B4DB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border: 1px solid transparent;
    font-weight: bold;
    font-family: 'Karma', serif;
    font-size: 1rem;
}


/* Responsive Design */
@media screen and (max-width: 1000px) {
    .side-nav-links {
        color: white;
        font-weight: bold;
    }

    .stream {
        background: #00B4DB;
        color: black;
    }

    .hero {
        flex-direction: column;
        row-gap: 3rem;
    }

    .hero-header {
        font-size: 6vw;
    }

    .date {
        font-size: 3vw;
    }

    .hero-info-container, .hero-img-container {
        width: 100vw;
        height: 50vh;
        min-height: 29rem;
    }

    .hero-info, .hero-img {
        height: 100%;
    }

    .hero-img {
        margin-bottom: 3rem;
    }
}
